<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>评分管理</title>
  <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css"/>
  <link rel="stylesheet" href="../../assets/module/admin.css?v=315"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<!-- 页面加载loading -->
<div class="page-loading">
  <div class="ball-loader">
    <span></span><span></span><span></span><span></span>
  </div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body table-tool-mini full-table">
      <div class="layui-form toolbar">
        <div class="layui-form-item">
          <!--          <div class="layui-inline">-->
          <!--            <label class="layui-form-label w-auto">博客标题：</label>-->
          <!--            <div class="layui-input-inline mr0">-->
          <!--              <input name="title" class="layui-input" type="text" placeholder="输入标题"/>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="layui-inline" style="padding-right: 110px;">
            <!--            <button class="layui-btn icon-btn" lay-filter="formSubSearchBook" lay-submit>-->
            <!--              <i class="layui-icon">&#xe615;</i>搜索-->
            <!--            </button>-->
            <button id="btnAddBook" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
          </div>
        </div>
      </div>

      <table class="layui-table" id="tableBook" lay-filter="tableBook"></table>
    </div>
  </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBarBook">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="modelBook">
  <form id="modelBookForm" lay-filter="modelBookForm" class="layui-form model-form">
    <input name="id" type="hidden"/>

    <div class="layui-form-item" id="divCata">
      <label class="layui-form-label">博客类别</label>
      <div class="layui-input-block">
        <select name="c_id" lay-verify="required" id="c_id"
                lay-filter="c_id">
          <option value="">请选择类别</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">博客标题</label>
      <div class="layui-input-block">
        <select name="b_id" lay-verify="required" id="b_id"
                lay-filter="b_id">
          <option value="">请先选择类别</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">评论人</label>
      <div class="layui-input-block">
        <select name="u_id" lay-verify="required">
          <option th:value="${session.user.id}">[[${session.user.username}]]</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">评分</label>
      <div class="layui-input-block">
        <input name="score" class="layui-input" type="text" placeholder="输入分数"/>
      </div>
    </div>

    <div class="layui-form-item text-right">
      <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
      <button class="layui-btn" lay-filter="modelSubmitBook" lay-submit>提交</button>
    </div>
  </form>
</script>
<script type="text/html" id="modelBook2">
  <form id="modelBookForm2" lay-filter="modelBookForm" class="layui-form model-form">
    <input name="id" type="hidden"/>

    <div class="layui-form-item">
      <label class="layui-form-label">博客标题</label>
      <div class="layui-input-block">
        <select name="b_id" lay-verify="required" id="b_id2"
                lay-filter="b_id">
          <option value="">请选择标题</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">评论人</label>
      <div class="layui-input-block">
        <select name="u_id" lay-verify="required">
          <option th:value="${session.user.id}">[[${session.user.username}]]</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">评分</label>
      <div class="layui-input-block">
        <input name="score" class="layui-input" type="text" placeholder="输入分数"/>
      </div>
    </div>

    <div class="layui-form-item text-right">
      <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
      <button class="layui-btn" lay-filter="modelSubmitBook" lay-submit>提交</button>
    </div>
  </form>
</script>
<!-- js部分 -->
<script type="text/javascript" src="../../assets/libs/layui/layui.all.js"></script>
<script type="text/javascript" src="../../assets/js/common.js?v=315"></script>
<script>
  layui.use(['layer', 'form', 'table', 'layedit','util', 'admin', 'tableX', 'laytpl'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;
    var laytpl = layui.laytpl;
    var form = layui.form;
    var table = layui.table;
    var util = layui.util;
    var admin = layui.admin;
    var tableX = layui.tableX;
    var layedit = layui.layedit;
    var upload = layui.upload;
    // 渲染表格
    var insTb = table.render({
      elem: '#tableBook',
      url: '/api/getAllScores',
      page: true,
      height: "full-100",
      toolbar: true,
      headers : {
        Authorization: '[[${session.token}]]'
      },
      cellMinWidth: 100,
      cols: [
        [
          {title: '#',type:'numbers'}
          ,{field: 'b_id', sort: true,title: '博客标题',minWidth:200,templet: function (d) {
            return d.boke.title}}
          ,{field: 'u_id', sort: true,title: '评论人',minWidth:200,templet: function (d) {
            return d.user.username}}
          ,{field: 'create_time', sort: true, title:'上次修改时间',templet: function (d) {
            return util.toDateString(d.create_time);
          }}
          ,{field: 'score', sort: true,title: '分数', minWidth:200}
          ,{align: 'center', toolbar: '#tableBarBook', title: '操作', minWidth: 200}
        ]
      ]
    });

    // 添加
    $('#btnAddBook').click(function () {
      showEditModel();
    });

    // 工具条点击事件
    table.on('tool(tableBook)', function (obj) {
      var data = obj.data;
      var layEvent = obj.event;
      if (layEvent === 'edit') { // 修改
        // document.getElementById("modelBookForm").parentNode.removeChild(divCata);
        showEditModel(data);
      } else if (layEvent === 'del') { // 删除
        doDel(data.id, data.score);
      }
    });

    // 显示表单弹窗
    function showEditModel(mBook) {
      var optionforcata = "";
      var optionforboke = "";
      if(mBook==null){
        admin.open({
          type: 1,
          title: '新增评分',
          content: $('#modelBook').html(),
          area: ['550px', '350px'],
          success: function (layero, dIndex) {
            //获取分类
            $.ajax({
              url: '/ajax/getAllCatas',
              dataType: 'json',
              type: 'get',
              headers : {
                Authorization: '[[${session.token}]]'
              },
              async:false,
              success: function (res) {
                optionforcata = "";
                optionforboke = "";
                if (res.code == 0){
                  for(var i in res.data){
                    optionforcata += "<option value='"+res.data[i]['id']+"'>"+res.data[i]['name']+"</option>";
                  }
                }else {
                  optionforcata += "<option value='0'>"+"权限不够"+"</option>";
                }
                $("[name='c_id']").append(optionforcata);
                form.render("select");
              }
            })
            //通过分类获取博客（二级联动的应用）
            form.on('select(c_id)', function(data) {
              $.ajax({
                type : 'POST',
                url : '/ajax/FindBokeByCata',
                data : {
                  'c_id' : $("#c_id").val()
                },
                dataType : 'json',
                success : function(res) {
                  optionforcata = "";
                  optionforboke = "";
                  $("#b_id").empty();
                  if (res.code == 0){
                    for(var i in res.data){
                      optionforboke += "<option value='"+res.data[i]['id']+"'>"+res.data[i]['title']+"</option>";
                    }
                }else {
                  optionforboke += "<option value='0'>"+"权限不够"+"</option>";
                }
                $("[name='b_id']").append(optionforboke);
                  //重新刷新了一下下拉框
                  form.render('select'); //重新渲染
                }
              });
            });
            var url = '/api/addScore';
            // 回显数据
            form.val('modelBookForm', mBook);
            // 表单提交事件
            form.on('submit(modelSubmitBook)', function (data) {
              layer.load(2);
              $.ajax({
                url:url,
                type:"POST",
                data:JSON.stringify(data.field),
                headers : { Authorization: '[[${session.token}]]'},
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                success: function(res){
                  layer.closeAll('loading');
                  if (res.code == 200) {
                    layer.close(dIndex);
                    layer.msg(res.msg, {icon: 1});
                    insTb.reload({}, 'data');
                  } else if(res.code == 500){
                    layer.msg(res.msg, {icon: 2});
                  }
                },
                error : function(xhr,textStatus,errorThrown){
                  if (xhr.status == 401) {
                    layer.closeAll('loading');
                    layer.msg("权限不够", {icon: 2});
                  } else{
                    // 调用外部的error
                    error && error(xhr,textStatus,errorThrown);
                  }
                }
              })
              return false;
            });
          }
        });
      }else{
        admin.open({
          type: 1,
          title: '修改评分',
          area: ['550px', '300px'],
          content: $('#modelBook2').html(),
          success: function (layero, dIndex) {
            $.ajax({
              url: '/ajax/getAllBokes',
              dataType: 'json',
              type: 'get',
              headers : {
                Authorization: '[[${session.token}]]'
              },
              async:false,
              success: function (res) {
                if (res.code == 0){
                  for(var i in res.data){
                    optionforboke += "<option value='"+res.data[i]['id']+"'>"+res.data[i]['title']+"</option>";
                  }
                }else {
                  optionforboke += "<option value='0'>"+"权限不够"+"</option>";
                }
                $("[name='b_id']").append(optionforboke);
                form.render()
              }
            })
            $(layero).children('.layui-layer-content').css('overflow', 'visible');
            var url = '/api/updateScore';
            //mBook && (mBook.roleId = mUser.roles[0].roleId);
            // 回显数据
            form.val('modelBookForm', mBook);
            // 表单提交事件
            form.on('submit(modelSubmitBook)', function (data) {
              console.log(data)
              layer.load(2);
              $.ajax({
                url:url,
                type:"POST",
                data:JSON.stringify(data.field),
                contentType:"application/json; charset=utf-8",
                headers : { Authorization: '[[${session.token}]]'},
                dataType:"json",
                success: function(res){
                  layer.closeAll('loading');
                  if (res.code == 200) {
                    layer.close(dIndex);
                    layer.msg(res.msg, {icon: 1});
                    insTb.reload({}, 'data');
                  } else if(res.code == 500){
                    layer.msg(res.msg, {icon: 2});
                  }
                },
                error : function(xhr,textStatus,errorThrown){
                  if (xhr.status == 401) {
                    layer.closeAll('loading');
                    layer.msg("权限不够", {icon: 2});
                  } else{
                    // 调用外部的error
                    error && error(xhr,textStatus,errorThrown);
                  }
                }
              })
              return false;
            });
          }
        });
      }

    }

    // 删除
    function doDel(id, score) {
      layer.confirm('确定要删除“' + score + '”吗？', {
        skin: 'layui-layer-admin',
        shade: .1
      }, function (i) {
        layer.close(i);
        layer.load(2);
        $.ajax({
          url:'/api/delScore',
          type:"GET",
          data:{
            id: id
          },
          headers : { Authorization: '[[${session.token}]]'},
          dataType:"json",
          success: function(res){
            layer.closeAll('loading');
            if (res.code == 200) {
              layer.msg(res.msg, {icon: 1});
              insTb.reload({}, 'data');
            } else {
              layer.msg("权限不够", {icon: 2});
            }
          },
          error : function(xhr,textStatus,errorThrown){
            if (xhr.status == 401) {
              layer.closeAll('loading');
              layer.msg("权限不够", {icon: 2});
            } else{
              // 调用外部的error
              error && error(xhr,textStatus,errorThrown);
            }
          }
        })
      });
    }


  });
</script>

</body>
</html>