<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="./assets/images/favicon.ico" rel="icon">
    <title>博客学习系统</title>
    <link rel="stylesheet" href="./assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="./assets/module/admin.css?v=315"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <div class="layui-header">
        <div class="layui-logo">
            <a href="/download" title="点我下载logo"><img src="./assets/images/logo.png"/>
            <cite style="color: #e7e7e7">博客学习系统</cite></a>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="flexible" title="侧边伸缩"><i class="layui-icon layui-icon-shrink-right"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="refresh" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" pc>
                <a href="javascript:;"><i class="layui-icon" data-icon="&#xe640;">&#xe60e;</i><span id="time"></span></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="note" title="便签"><i class="layui-icon layui-icon-note"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="message" title="消息">
                    <i class="layui-icon layui-icon-notice"></i>
                    <span class="layui-badge-dot"></span><!--小红点-->
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a ew-event="fullScreen" title="全屏"><i class="layui-icon layui-icon-screen-full"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a>
                    <img src="assets/images/head.png" class="layui-nav-img">
                    <cite th:text="${session.user.username}"></cite>
                </a>
                <dl class="layui-nav-child">
                    <dd lay-unselect>
                        <a ew-href="/user-info">个人中心</a>
                    </dd>
                    <dd lay-unselect>
                        <a ew-event="psw">修改密码</a>
                    </dd>
                    <hr>
                    <dd lay-unselect>
                        <a ew-event="logout" data-url="/login">退出</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="theme" title="主题"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
        </ul>
    </div>

    <!-- 侧边栏 -->
    <div class="layui-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree arrow2" lay-filter="admin-side-nav" lay-accordion="true"
                style="margin-top: 15px;">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-home"></i>&emsp;<cite>控制主页</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/introduction">介绍页面</a></dd>
                        <dd><a lay-href="/druid/">数据库</a></dd>
                        <dd><a lay-href="/swagger-ui.html">Swagger接口</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-set"></i>&emsp;<cite>系统管理</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/cata"><i class="layui-icon layui-icon-table">&emsp;分类管理</i></a></dd>
                        <dd><a lay-href="/boke"><i class="layui-icon layui-icon-table">&emsp;博客管理</i></a></dd>
                        <dd><a lay-href="/comment"><i class="layui-icon layui-icon-table">&emsp;评论管理</i></a></dd>
                        <dd><a lay-href="/user"><i class="layui-icon layui-icon-friends">&emsp;用户管理</i></a></dd>
                        <dd><a lay-href="/score"><i class="layui-icon layui-icon-praise">&emsp;评分管理</i></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-list"></i>&emsp;<cite>统计管理</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/reportYear"><i class="layui-icon layui-icon-date">&emsp;博客月度发表统计</i></a></dd>
                        <dd><a lay-href="/reportByYear"><i class="layui-icon layui-icon-date">&emsp;博客年度度发表统计</i></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-face-smile"></i>&emsp;<cite>去学习</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="https://layui.11dz.cn/"><i class="layui-icon layui-icon-release">&emsp;layUI官方镜像文档</i></a></dd>
                        <dd><a lay-href="https://hx.dcloud.net.cn/Tutorial/Language/vue"><i class="layui-icon layui-icon-date">&emsp;Vue官方文档</i></a></dd>
                        <dd><a lay-href="https://docs.spring.io/spring-framework/docs/5.3.x/reference/html/core.html#spring-core"><i class="layui-icon layui-icon-date">&emsp;Spring官方文档</i></a></dd>
                        <dd><a lay-href="https://mp.baomidou.com/en/guide/"><i class="layui-icon layui-icon-date">&emsp;MyBatis-Plus官方文档</i></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-face-smile"></i>&emsp;<cite>本站购物</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/product"><i class="layui-icon layui-icon-release">&emsp;商城</i></a></dd>
                        <dd><a lay-href="/order"><i class="layui-icon layui-icon-release">&emsp;购物车</i></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a lay-href="/user-info"><i class="layui-icon layui-icon-unlink"></i>&emsp;<cite>个人中心</cite></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 主体部分 -->
    <div class="layui-body"></div>
    <!-- 底部 -->
    <div class="layui-footer">
        copyright © 2021 <a target="_blank">LGD</a> all rights reserved.
        <span class="pull-right">Version 2.4.0</span>
    </div>
</div>

<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="./assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="./assets/js/common.js?v=315"></script>
<script>
    layui.use(['index'], function () {
        var $ = layui.jquery;
        var index = layui.index;

        // 默认加载主页
        index.loadHome({
            menuPath: '/introduction',
            menuName: '<i class="layui-icon layui-icon-home"></i>'
        });

        function countdown() {
            var myDate = new Date();
            //获取当前年
            var year=myDate.getFullYear();
            //获取当前月
            var month=myDate.getMonth()+1;
            //获取当前日
            var date=myDate.getDate();
            var h=myDate.getHours();       //获取当前小时数(0-23)
            var m=myDate.getMinutes();     //获取当前分钟数(0-59)
            var s=myDate.getSeconds();
            var now=year+'年'+getNow(month)+'月'+getNow(date)+"日     "+getNow(h)+':'+getNow(m)+":"+getNow(s);
            // 赋值给展示时间
            $('#time').text(now);
        }
        // 获取当前时间
        function getNow(s) {
            return s < 10 ? '0' + s: s;
        }

        setInterval(function(){
            countdown()
        }, 1000);

    });
</script>
</body>
</html>